<% if flash[:notice] %>
	<p class="flash"><%= flash[:notice] %></p>
<% end %>

<% if flash[:update] %>
	<p class="flash"><%= flash[:update] %></p>
<% end %>

<p><span class="id">Title:</span><%= @post.title %></p>

<p><span class="id">Body:</span><%= @post.body %></p>

<%= link_to "Edit", edit_post_path(@post.id) %><span class="sikiri">|</span>
<%=link_to 'Back', "/posts/" %>